<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Cards</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom1">Statistician</h2>
        <p class="Dom1">Evaluating the statistical methods and procedures
          used to obtain data in order to ensure validity, applicability, efficiency, and accuracy of analysis</p>
          <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
					</button>
      </div>
    </div>
    <div class="face face2">
      <h2>01</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom2">Big Data Engineer</h2>
        <p class="Dom2">A big data engineer is an information technology (IT) professional who is responsible for designing, and maintaining complex data processing systems.</p>

          <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
          </button>
              </div>
    </div>
    <div class="face face2">
      <h2>02</h2>
    </div>
  </div>

  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom3">Data Analyst</h2>
        <p class="Dom3">The data analyst serves as a gatekeeper for an
           data so stakeholders can understand data and use it to make strategic business decisions.</p>
           <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
           </button>
      </div>
    </div>
    <div class="face face2">
      <h2>03</h2>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom4">Data Scientist</h2>
        <p class="Dom4">Data science is a rare
           job where you get to do all of the cool stuff together: mathematics, coding, and research.</p>
           <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
           </button>
      </div>
    </div>
    <div class="face face2">
      <h2>04</h2>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom5">Software Developer</h2>
        <p class="Dom5">Observe the problems in-depth and you can help this world by giving the solution which no one has given before.</p>
           <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
 					</button>
      </div>
    </div>
    <div class="face face2">
      <h2>05</h2>
    </div>
  </div>
  <div class="card">
    <div class="face face1">
      <div class="content">
        <span class="stars"></span>
        <h2 class="Dom6">Database Administrator</h2>
        <p class="Dom6">A DBA designs, implements, administers, and monitors data management systems.</p>
        <button onclick="window.location.href='https://www.roadmapguide.com/';">Explore
        </button>
      </div>
    </div>
    <div class="face face2">
      <h2>06</h2>
    </div>
  </div>
</div>
<!-- partial -->

</body>
</html>
